.search-content {
  padding-top: 10vh;
  margin-bottom: 10vh;
}

.plus-icon {
  padding-right: 6px;
}

.create-your-announcement {
  padding-top: 15px;
  padding-bottom: 40px;
  margin-top: 7vh;
  text-align: center;
  font-family: Inter, sans-serif;
}









