::ng-deep .p-menubar{
  border: 0 !important;
  border-radius: 0 !important;
  background-color: #335;
}

.app-name{
  margin-left: 40px;
  color: white;
}

.user-dropdown{
  margin-right: 40px;
  color: white;
}

.user-name {
  margin: 0 20px;
}
