::ng-deep .p-menubar{
  border: 0 !important;
  border-radius: 0 !important;
  background-color: #335;
  -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
  -moz-box-shadow: 0 0 10px rgb(0,0,0);
}

.app-name{
  margin-left: 40px;
  color: white;
}

.user-dropdown{
  margin-right: 40px;
  color: white;
}

.user-name {
  margin: 0 20px;
}

::ng-deep .p-button-label {
  color:white;
}

::ng-deep .p-menubar-button {
  display: none !important;
}



