::ng-deep .p-menubar{
  border: 0 !important;
  border-radius: 0 !important;
  background-color: #335;
}

.app-name{
  margin-left: 40px;
  color: white;
  cursor: pointer;
}

.user-dropdown{
  margin-right: 40px;
  color: white;
}

.user-name {
  margin: 0 20px;
}

::ng-deep .p-button-label {
  color:white;
}

::ng-deep .p-menubar-button {
  display: none !important;
}

::ng-deep .p-menu-overlay{
  top: 4.8rem !important;
}



