<p-button class="fixed ml-8" type="text" (click)="display = true" icon="pi pi-arrow-right "></p-button>
<div class="advertsBody flex justify-content-center">
    <div>
      <div class="flex justify-content-center search-bar">
        <div class="search-content">
          <form [formGroup]="form">
            <input type="text" pInputText placeholder="Pesquisar" formControlName="title">
            <button class="ml-3" pButton label="Pesquisar" (click)="getAllAdvertsFiltered(1)"><fa-icon class="search-icon" [icon]="faSearch"></fa-icon></button>
          </form>
        </div>
      </div>
      <div *ngIf="isLoggedIn == true">
        <div class="container flex justify-content-between align-items-center mb-3">
          <h2 style="font-size: 2em; font-weight: lighter">Anúncios</h2>
          <div>
            <button (click)="getAllAdverts(1)" class="mr-2" pButton type="button" label="Limpar Filtros" style="width: 10rem"></button>
            <button [routerLink]="['/adverts/createAdvert']" pButton type="button" label="Anunciar" style="width: 9rem"><fa-icon class="plus-icon" [icon]="faPlus"></fa-icon></button>
          </div>
        </div>
      </div>
      <div *ngIf="isLoggedIn == false">
        <div class="container flex justify-content-between align-items-center mb-3">
          <h2 style="font-size: 2em; font-weight: lighter">Anúncios</h2>
          <div>
            <button (click)="getAllAdverts(1)" class="mr-2" pButton type="button" label="Limpar Filtros" style="width: 10rem"></button>
            <button [routerLink]="['/adverts/createAdvert']" pButton type="button" label="Anunciar" style="width: 9rem"><fa-icon class="plus-icon" [icon]="faPlus"></fa-icon></button>
          </div>
        </div>
      </div>
       <div class="advertDiv">
        <div [routerLink]='["/adverts/advert", advert.productsId]' *ngFor="let advert of advertsData?.data" class="advert flex surface-card p-4 mb-3 shadow-2 border-round w-full">
          <img [src]="advert.productsPhotoUrl" class="productImage">
          <div class="ml-4">
            <p class="advertTitle">{{ advert.productsTitle }}</p>
            <h3> {{ advert.productsPrice }}€ </h3>
          </div>
        </div>
      </div>
      <p-paginator [showFirstLastIcon]="false" [rows]="this.pageSize" [totalRecords]="this.totalCount" (onPageChange)="getAllAdverts($event.page + 1)"></p-paginator>
    </div>

    <p-sidebar [(visible)]="display">
      <h1 style="font-size: 2em; color: black; font-weight: lighter">Filtros</h1>
      <form [formGroup]="form">
        <div class="form grid mt-3 flex flex-column">
          <div class="field col" style="margin-bottom: 0">
            <label class="block text-900 font-medium mb-2">Categoria</label>
            <p-dropdown [options]="categories" optionLabel="categoryName" placeholder="Selecione a categoria" formControlName="category"></p-dropdown>
          </div>
          <div class="field col">
            <label class="block text-900 font-medium mb-2">Género</label>
            <p-dropdown [options]="genders" optionLabel="name" placeholder="Selecione o género" formControlName="gender"></p-dropdown>
          </div>
          <div>
            <label class="block text-900 font-medium mb-2 ml-2">Preço</label>
            <div  class="col">
              <input type="text" class="w-full" pInputText placeholder="De"  formControlName="minPrice" [ngClass]="{'ng-dirty': minPrice!.invalid}">
              <div *ngIf="minPrice!.invalid">
                <p *ngIf="minPrice!.errors?.['pattern']" class="p-error mt-1">Preço só pode conter números</p>
              </div>
            </div>
            <div  class="col">
              <input type="text" class="w-full"  pInputText placeholder="Até" formControlName="maxPrice" [ngClass]="{'ng-dirty': maxPrice!.invalid}">
              <div *ngIf="maxPrice!.invalid">
                <p *ngIf="maxPrice!.errors?.['pattern']" class="p-error mt-1">Preço só pode conter números</p>
              </div>
            </div>
          </div>
          <div class="col mt-4">
            <button class="w-full" pButton type="button" label="Pesquisar" (click)="getAllAdvertsFiltered(1); display = false"><fa-icon class="search-icon" [icon]="faSearch"></fa-icon></button>
          </div>
        </div>
      </form>
    </p-sidebar>
</div>
