<div class="flex justify-content-center reset-password">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">Não se lembra da password?</div>
      <p>Insira aqui o seu email para lhe enviarmos o email de recuperação.</p>
    </div>
    <div>
      <label for="email1" class="block text-900 font-medium mb-2">Email</label>
      <input id="email1" type="text" pInputText class="w-full mb-3" #email required>
      <button pButton pRipple label="Enviar" class="w-full mt-3" (click)="resetPassword(email.value)"></button>
    </div>
  </div>
</div>
