.registerMenu {
  margin-top: 14vh;
  font-family: Inter, sans-serif;
  margin-bottom: 3vh;
}

::ng-deep .p-dropdown{
  margin-bottom: 3rem;
  width: 100%;
}

.text {
  span, a {
    padding-top: 0;
  }
}
