.advertsBody {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.advert {
  max-height: 200px;
}

.advertDiv :hover {
  cursor: pointer;
}



.title {
  color: #333355;
}

.productImage {
  display: flex;
  width: 150px;
  max-height: 150px;
  overflow: hidden;
}

.advertTitle {
 font-size: 1.7em;
}
