.home{
  height: calc(100vh - 86px);
}

.searchBar {

  input{
    width: 40vw;
    border: 1px solid #6366F1;
  }

  .searchContent {
    margin-top: 10vh;
  }
}

.searchIcon {
  padding-right: 6px;
}

.plusIcon {
  padding-right: 6px;
}

.createYourAnnouncement {
  background: #eee;
  color: #333355;
  padding-top: 15px;
  padding-bottom: 40px;
  margin-top: 7vh;
  text-align: center;
  font-family: Inter, sans-serif;
}





