<div class="home">
  <div class="flex justify-content-center searchBar">
    <div class="searchContent">
      <input type="text" pInputText placeholder="Pesquisar">
      <button class="ml-3" pButton type="button" label="Pesquisar"><fa-icon class="searchIcon" [icon]="faSearch"></fa-icon></button>
    </div>
  </div>

  <div class="createYourAnnouncement">
    <h1>Cria o teu anúncio</h1>
    <p class="">Não falhes esta oportunidade, ajuda quem precisa e anuncia os teus teus produtos!</p>
    <button class="mt-6" pButton type="button" label="Anunciar"><fa-icon class="plusIcon" [icon]="faPlus"></fa-icon></button>
  </div>
</div>




