.search-bar {
  background: linear-gradient(#424271, #fff);

  input{
    width: 40vw;
    border: 1px solid #6366F1;
  }

  .search-content {
    padding-top: 10vh;
    margin-bottom: 10vh;
  }
}

.search-icon {
  padding-right: 6px;
}

.plus-icon {
  padding-right: 6px;
}

.create-your-announcement {
  color: #333355;
  padding-top: 15px;
  padding-bottom: 40px;
  margin-top: 7vh;
  text-align: center;
  font-family: Inter, sans-serif;
}


.ads-featured-title {
  color: #333355;
  font-family: Inter, sans-serif;
}








